* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
    background: grey;
}

body {
    width: 1440px;
}

header {
    width: 1440px;
    height: 520px;
    position: relative;
    background: #3F3F3F;
}

h1 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
}

.h-fg {
    position: absolute;
}

.h-bg {
    position: absolute;
}

.h-bg-line {
    width: 1440px;
    height: 0px;
    border: 1px dashed rgb(122, 107, 107, 0.7);
}

.h-bg-line-wrap {
    display: flex;
    position: absolute;
    width: 1440px;
    height: 520px;
    align-items: center;
}

.h-wrap {
    position: relative;
    height: 520px;
    width: 1440px;
    overflow-x: hidden;
}

.h-bg-osc {
    display: flex;
    position: absolute;
    height: 520px;
    align-items: center;
}

.h-fg-left {
    height: 520px;
    width: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-fg-right {
    height: 520px;
    width: 720px;
    mask-image: linear-gradient(270deg, #000000 83.4%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(270deg, #000000 83.4%, rgba(0, 0, 0, 0) 100%);
    background-image: url('../assets/header-bg\ 1.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-fg .h-wrap {
    display: flex;
}

.h-fg-right h1 {
    line-height: 25px;
    width: 315px;
    height: 102px;
    color: #FFFFFF;
}